<html>
<head>
        <script>
                var flights = {{ flights }}
                var cruises = {{ cruises }}
                var hotels = {{ hotels }}
                var cost={{cost}}
        </script>
</head>
<body>
    <h1>Cart</h1>
    <table>
            {% for f in cruises %}
            <tr>
              <td>{{f.cruise_number}}</td>
              <td>{{f.source_location}}</td>
              <td>{{f.dest_location}}</td>
              <td>{{f.arrival_date}}</td>
              <td>{{f.depart_date}}</td>
              <td>{{f.fare}}</td>
            </tr>
            {% endfor %}
    </table>
    <table>
            {% for h in hotels %}
            <tr>
              <td>{{h.accomodation_id}}</td>
              <td>{{h.name}}</td>
              <td>{{h.address}}</td>
              <td>{{h.rate_per_night}}</td>
            </tr>
            {% endfor %}
    </table>
    <table>
            {% for i in flights %}
            <tr>
              <td>{{i.flight_number}}</td>
              <td>{{i.carrier}}</td>
              <td>{{i.classt}}</td>
              <td>{{i.depart_date}}</td>
              <td>{{i.arrival_date}}</td>
              <td>{{i.destination}}</td>
              <td>{{i.fare}}</td>
            </tr>
            {% endfor %}
    </table> 
    <div>
      Total Cost= {{cost}}
    </div>
    <a href="{{ url_for('checkout', price = cost) }}" style="float:right" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Add To Cart</a>
</body>
</html>