<html>
  <head>
    <title>Flights</title>
    <script>
        var flights = {{ flights }}
    </script>
    <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #808080;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #808080;
}
</style>
  </head>
  <body>

      
  <h2>Available Flights</h2>

<table>

  <tr>
    <th>Flight</th>
    <th>Carrier</th>
    <th>Class</th>
    <th>Depart Date</th>
    <th>Arrival Date</th>
    <th>Destination</th>
    <th>Fare</th>
  </tr>
  {% for f in flights %}
  <tr>
    <td>{{f.flight_number}}</td>
    <td>{{f.carrier}}</td>
    <td>{{f.classt}}</td>
    <td>{{f.depart_date}}</td>
    <td>{{f.arrival_date}}</td>
    <td>{{f.destination}}</td>
    <td>{{f.fare}}</td>
  </tr>
  {% endfor %}
</table>

  </body>
</html>
