<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Transportation</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
                <div class="span6 pull-right" style="text-align:right">
                    <button type="button" class="btn btn-lg btn-primary" >Log in </button>
                    <button type="button" class="btn btn-lg btn-primary" >Sign Up</button>
                </div>
            <h3 class="text-muted">Transportation</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Start Your Travel Now</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="transportation.html" role="button">Transporation</a>
            </p>
            <p><a class="btn btn-lg btn-success" href="accomodation.html" role="button">Accomodation</a>
            </p>

        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Who Are We?</h4>
                <p>Created by James Hoffman, Edward Rozario and Jamie Kunzman.</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; CSE 305</p>
        </footer>
 
    </div>
</body>
 
</html>